*.a
*.o
*.lo
*.la
*.so
*.mo
*.gmo
*.swp
*.tar.gz
*~
*.pc
.deps
.libs
autom4te.cache
Makefile
Makefile.in
aclocal.m4
_configs.sed
config.h
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
libtool
.intltool-merge-cache
missing
stamp-h1
ltmain.sh
*/po/Makefile.in.in
*/po/POTFILES
*/po/stamp-it

.project
.cproject
.settings

CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

remmina/remmina

rfbint.h
remmina/src/remmina
remmina/desktop/remmina.desktop
remmina-plugins/libvncserver/rfb/rfbconfig.h
remmina-plugins/telepathy/org.freedesktop.Telepathy.Client.Remmina.service
