*.a
*.glade#
*.gmo
*.la
*.lo
*.mo
*.o
*.pc
*.so
*.swp
*.tar.gz
*/po/Makefile.in.in
*/po/POTFILES
*/po/stamp-it
*~
.clang-format
.cproject
.deps
.intltool-merge-cache
.libs
.project
.settings
CMakeFiles
CMakeCache.txt
Makefile
Makefile.in
_configs.sed
aclocal.m4
autom4te.cache
build
/build-ubuntu
cmake_install.cmake
cmake_uninstall.cmake
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
install_manifest.txt
libtool
ltmain.sh
missing
rfbint.h
stamp-h1
tags

remmina-plugins/libvncserver/rfb/rfbconfig.h
remmina-plugins/telepathy/org.freedesktop.Telepathy.Client.Remmina.service
remmina/desktop/remmina.desktop
remmina/desktop/remmina-file.desktop
remmina/remmina
remmina/src/remmina

*.snap
snapcraft.yaml
parts
prime
stage
