[Desktop Entry]
Type=Application
Name=remmina-gnome
NoDisplay=true
Comment=Remina Kiosk
Exec=remmina-gnome
X-GNOME-WMName=remmina-gnome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
