[Desktop Entry]
Name=GNOME + Remmina Kiosk
Comment=This session logs you into GNOME with remmina as the window manager
Exec=gnome-session-remmina
TryExec=remmina-gnome
Icon=
Type=Application
DesktopNames=GNOME
X-Ubuntu-Gettext-Domain=gnome-session-3.0
