Source: remmina
Section: gnome
Priority: optional
Maintainer: Luca Falavigna <dktrkranz@debian.org>
Uploaders: Jean-Louis Dupond <jean-louis@dupond.be>
Build-Depends: debhelper (>= 9~),
 cmake (>= 2.6),
 git,
 libgtk-3-dev,
 libgcrypt-dev | libgcrypt20-dev,
 libssh-dev (>= 0.4),
 libvte-2.90-dev | libvte-2.91-dev,
 libxkbfile-dev,
 libfreerdp-dev (>= 1.1.0~),
 libtelepathy-glib-dev,
 libjpeg-dev,
 libgnutls-dev | libgnutls28-dev,
 libgnome-keyring-dev,
 libavahi-ui-gtk3-dev (>= 0.6.0),
 libvncserver-dev,
 libappindicator3-dev,
 libsecret-1-dev,
 libwebkit2gtk-4.0-dev | libwebkit2gtk-3.0-dev,
 libspice-protocol-dev [!armhf],
 libspice-client-gtk-3.0-dev [!armhf] | libspice-client-gtk-2.0-dev [!armhf]
Standards-Version: 3.9.6
Homepage: http://remmina.sourceforge.net/
Vcs-Git: git://anonscm.debian.org/collab-maint/remmina.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/remmina.git

Package: remmina
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina-common (= ${source:Version}),
 dbus-x11
Recommends: remmina-plugin-rdp,
 remmina-plugin-vnc
Breaks: remmina-plugin-data (<= 0.9)
Replaces: remmina-gnome, remmina-xfce
Description: remote desktop client for GNOME desktop environment
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 It supports multiple network protocols in an integrated and consistent user
 interface. Currently RDP, VNC, NX, XDMCP and SSH protocols are supported.

Package: remmina-common
Architecture: all
Depends: ${misc:Depends}
Recommends: remmina
Breaks: remmina (<< 1.0.0),
 remmina-plugin-data
Replaces: remmina (<< 1.0.0),
 remmina-plugin-data
Description: common files for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the common files.

Package: remmina-plugin-rdp
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version}),
 libfreerdp-plugins-standard (>= 1.2.0~)
Description: RDP plugin for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the RDP plugin for Remmina.

Package: remmina-plugin-vnc
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version})
Description: VNC plugin for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the VNC plugin for Remmina.

Package: remmina-plugin-xdmcp
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version}),
 xserver-xephyr
Description: XDMCP plugin for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the XDMCP plugin for Remmina.

Package: remmina-plugin-nx
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version}),
 nxproxy
Description: NX plugin for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the NX plugin for Remmina.

Package: remmina-plugin-telepathy
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version})
Description: Telepathy plugin for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the Telepathy plugin for Remmina.

Package: remmina-plugin-gnome
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version})
Description: GNOME plugin for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the GNOME Keyring plugin for Remmina, which allows one
 to store and retrieve passwords from GNOME Keyring.

Package: remmina-plugin-spice
# Architecture is valorized automatically by ubuntu-build.sh script, in other cases
# must be modified manually
Architecture: amd64 i386
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version})
Description: Spice plugin for remmina remote desktop client
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package contains the Spice plugin for Remmina.

Package: remmina-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 remmina (= ${binary:Version}),
 remmina-plugin-rdp (= ${binary:Version}),
 remmina-plugin-vnc (= ${binary:Version}),
 remmina-plugin-xdmcp (= ${binary:Version}),
 remmina-plugin-nx (= ${binary:Version}),
 remmina-plugin-telepathy (= ${binary:Version}),
 remmina-plugin-gnome (= ${binary:Version})
Description: remote desktop client - debug pakcage
 Remmina is a remote desktop connection client able to display and control a
 remote desktop session.
 .
 This package provides debugging symbols for remmina and its plugins.
