[Desktop Entry]
Version=1.0
Name=Remmina Remote Desktop Client
Comment=Connect to remote desktops
TryExec=remmina
Exec=remmina
Icon=remmina
Terminal=false
Type=Application
Actions=
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;

